.profile-container {
    
}

.profile-container .content {
    width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.content .back-icon-container {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
}

.back-icon-container .icon-back {
    font-size: 30px;
    cursor: pointer;
} 

.profile-text-container {
    margin: auto;
    width: 50%;
    justify-content: center;
    display: flex;
}

.profile-text-container .left-side {
    display: inline-block;
    padding-right: 3px;
    font-size: 13px;
    color: #cfd8dc;
    font-weight: 600;
}

.profile-text-container .mid-side {
    display: inline-block;
    font-size: 13px;
    color: #cfd8dc;
    padding-right: 80px;
    font-weight: 600;
}

.profile-text-container .right-side {
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
li {
    margin-bottom: 20px;
    align-self: flex-start;
}