.header {
    width: 100%;
    box-sizing: border-box;
    padding-left: 70px;
    padding-right: 70px;
}

.header-container {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container .title {
    font-size: 20px;
    font-weight: bold;
}

.header-container .button-login {
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
}

.header-container .profile {
    /* width: 150px; */
    display: inline;
    position: relative;
    cursor: pointer;
}

.profile .sub-menu {
    position: absolute;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fff;
    top: 45px;
    right: 0;
    border: 2px solid #5b94ed;
    cursor: pointer;
    display: flex;
}

.profile .sub-menu:hover {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #5b94ed;  
    color: #fff;
    border: 2px solid #5b94ed;
    cursor: pointer;
}

.sub-menu .icon-triangle {
    color:  #5b94ed;
    position: absolute;
    top: -19px;
    z-index: -1;
    right: 10px;
}

.sub-menu .text-menu {
    z-index: 1;
    font-size: 13px;
    font-weight: 600;
    margin: auto;
}

.profile .welcome-text {
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

.profile .name {
    font-size: 20px;
    font-weight: bold;
    color: #5b94ed;
}

.header-container .posts-tab {
    align-self: flex-end;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 25px;
    border-bottom: 2px solid #5b94ed;
}
